<!DOCTYPE html>
<html>

<head>
  <!--
    If you are serving your web app in a path other than the root, change the
    href value below to reflect the base path you are serving from.

    The path provided below has to start and end with a slash "/" in order for
    it to work correctly.

    For more details:
    * https://developer.mozilla.org/en-US/docs/Web/HTML/Element/base

    This is a placeholder for base href that will be replaced by the value of
    the `--base-href` argument provided to `heaven build`.
  -->
  <base href="$HEAVEN_BASE_HREF">

  <meta charset="UTF-8">
  <meta content="IE=Edge" http-equiv="X-UA-Compatible">
  <meta name="description" content="A new Heaven project.">

  <!-- iOS meta tags & icons -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="{{name}}">
  <link rel="apple-touch-icon" href="icons/Icon-192.png">

  <!-- Favicon -->
  <link rel="icon" type="image/svg+xml" href="favicon.svg" />

  <title>{{name}}</title>
  <link rel="manifest" href="manifest.json">

  <!-- This script adds the heaven initialization JS code -->
  <script src="assets/lib/heaven.mjs" type="module" defer></script>
</head>

<body style="margin: 0; padding: 0; width: 100vw; height: 100vh;">
  <canvas id="foo" style="width: 100%; height: 100%;"></canvas>
</body>

</html>